<div class="media">
	<img class='media-object pull-left profilepic' 
		src='<%= @user.profile_pic.url %>'>	
		
	<div class="media-body">
		<div class="media-heading">
			<h3><%= @user.name.capitalize%></h3>
			<div class="friend_button">
				<%= render partial: "layouts/friend_button", locals: 
					{user: @user, 
					current_user: @current_user} %>
			</div><!-- .friend_button -->
			<h4>A Little Bit About Me ...</h4>
			<div id='biography'>
				
				<% if @user.biography %>
					<%= @current_user.biography %>
				<%else%>
					<p>
						Nothing here ... 
					</p>
					<a href="#" id='edit'>
						<%= (@current_user && @current_user == @user) ? "Edit Me" : "" %>
					</a>
				<%end%>
			</div><!-- .biography -->
			
		</div><!-- .media-heading -->
	</div><!-- .media-body -->
</div><!-- .media -->
<hr />
<div id='liked_books'>
	<h4>Books <%= @user.name %> likes</h4>
	<%= render @user.tagged_books %>	
</div><!-- .name -->

<script type="text/javascript" charset="utf-8">
	$(function () {
		$('a')
	}); 
</script>
