<div class="media">
	<a href="#" class='pull-left'>
		<img src='<%= book.cover_image.length == 0 ? book.cover_photo.url : book.cover_image %>' class='media-object' style='height:64px'>
	</a>
	<div class="media-body">
		<h5 class='media-heading'>
			<a href="<%= book_path(book)%>">
				<%= book.title %>
			</a>			
		</h5>
		<% if @current_user %>
			<% if @current_user.tagged_books.include?(book) %>
				<a href="<%= book_path(book) %>" 
					class='btn btn-mini btn-info'>
				<%= @current_user.taggings.where(book_id: book.id).first.name %>
				</a>
			<%else%>
				<a href="<%= book_path(book) %>" class='btn btn-mini btn-primary'>Add to Shelf</a>
			<%end%>
		
		<%else%>
		<div id="tagging-module" class='well-small' data-id='<%= book.id %>'>
			<a href="<%= login_path %>" class='btn btn-mini btn-inverse'>Log in to Add to Shelf</a>
		</div>		
		<%end%>
		
		
	</div><!-- .media-body -->
</div><!-- .media -->

