<div class="media">
	<a href="#" class='pull-left'>
		<img src='<%= book.cover_image %>' class='media-object' style='height:64px'>
	</a>
	<div class="media-body">
		<h5 class='media-heading'>
			<a href="<%= book_path(book)%>">
				<%= book.title %>
			</a>			
		</h5>
		<% if @current_user %>
		<div class='well-small tagging-module' data-id='<%= book.id %>'>
			<a href="<%= book_path(book) %>" class='btn btn-mini btn-info'>Add to Shelf</a>
		</div>
		<%else%>
		<div id="tagging-module" class='well-small' data-id='<%= book.id %>'>
			<a href="<%= login_path %>" class='btn btn-mini btn-inverse'>Log in to Add to Shelf</a>
		</div>		
		<%end%>
		
		
	</div><!-- .media-body -->
</div><!-- .media -->

