<div class="row">
	<div class="span3">
		<img src="<%= @book.cover_image.length == 0 ? @book.cover_photo.url : @book.cover_image %>">
	</div>
	<div class="span9">
		<h3><%= @book.title.capitalize %></h3>
		<p>
			By: <% @book.authors.each_with_index do |author, index| %>
				<a href="<%= user_path(author) %>">
					<%= author.name %>
				</a>
				
				<% unless index == @book.authors.size - 1 %>
				<%= ', '%>
				<%end%>
				
			<%end%>
		</p>
			Synopsis: <%= @book.synopsis %>
		</p>
		
		<% if @current_user %>
		<div class='well well-small span7 tagging-module' data-id='<%= @book.id %>'>
			
		</div>
		<%else%>
		<div class='well well-small span7 tagging-module' data-id='<%= @book.id %>'>
			<a href="<%= login_path %>">Log in Please</a>
		</div>		
		<%end%>
	</div>		
</div>


<div class="span10" id="review_form">
	<hr />		
	<% if @current_user.nil? %>
	<%= link_to "Login or Signup to Review", login_path %>
	<%else%>
	<% review = @book.reviews.where(reviewer_id: @current_user.id) %>
	<%end%>
	<% if review && review.empty? %>
	<h5>Review this book!</h5>
	<%= render partial: "reviews/review_form", 
		locals: {book: @book, 
			method: "post", 
			path: book_reviews_path(@book)}%>
	<%end%>
</div><!-- .span10 -->
<hr />
<div class="span10" id='reviews'>
	<h4>Reviews</h4>
	<hr />
	<%= render @book.reviews %>
</div><!-- .span10 -->

<script type="text/template" id='submitted_comment'>
<div>
<b>You wrote: <%%= review.title %></b>
<p>
	Stars: <%%= review.stars %>	<br>
	<%%= review.body %>
</p>
<p>
	<a href="/reviews/<%%= review.id %>">Comment</a>
</p>	
</div><!-- . -->
</script>

<script type="text/javascript" charset="utf-8">
	$(function () {

		$('#review').on("ajax:success", function (e, data, status) {
			var funct = _.template($('#submitted_comment').html()); 
			var rendered_content = funct({
				review: data
			});
			$("div#reviews").append(rendered_content); 
		});
		
		Readingapp.initialize(); 
		var taggings = new Readingapp.Collections.Taggings(); 
		taggings.fetch({
			success: function () {
				new Readingapp.Routers.TaggingsModule({
					rootelement: $(".tagging-module"), 
					collection: taggings
				}); 
				Backbone.history.start(); 
			}
		}); 
		 
	}); 
</script>
