<table border="2" cellspacing="5" cellpadding="5">
	<tr>
		<th>Cover</th>
		<th>Title</th>
		<th>Author</th>
		<th>Avg Rating</th>
	</tr>
	
	<% taggings.forEach(function (tagging) { %>
		<tr>
			<td><img src="<%= tagging.get('book').cover %>" style='height: 35px'></td>
			<td><a href="/books/<%= tagging.escape('book_id') %>"><%= tagging.get('book').title%></a></td>
			<td><%= tagging.get('book').author_names.join(", ") %></td>
			<td><%= tagging.get('book').avg_rating.toFixed(2) %></td>
		</tr>		
	<% }); %>
	
	<%if (taggings.length == 0) { %>
		<tr>
			<td>
				Your queue is empty. Add some books, goddammit!
			</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<%}%>
</table>
