<h2>Search Results</h2>
<hr />
<% if @book_results.empty? && @people_results.empty? %>
<h3>There are no search results found. Sorry, bro.</h3>
<%else%>
<h3>Books</h3>
<div class="book-results">
	<table border="0" cellspacing="5" cellpadding="5" class='table'>
		<tr>
			<th>Image</th>
			<th>Title</th>
			<th>Authors</th>
			<th>Avg Rating</th>
		</tr>
		
	<% @book_results.each do |result| %>
		<% book = result.searchable %>
		<tr>
			<td><img src='<%= book.cover %>' 
				style='height: 64px'></td>
			<td>
				<a href="<%= book_path(book) %>"><%= book.title %></a>
			</td>
			<td><%= book.author_names.join(", ") %></td>
			<td><%= book.avg_rating %></td>
		</tr>
	<%end%>
	</table>	
</div><!-- .book-results -->
<h3>People</h3>
<div class="people-results">
	<table border="0" cellspacing="5" cellpadding="5" class='table'>
		<tr>
			<th>Email</th>
			<th>Name</th>
			<th>Author?</th>
		</tr>
	
	<% @people_results.each do |result| %>
		<% user = result.searchable %>
		<tr>
			<td><%= user.email %></td>
			<td>
				<a href="<%= user_path(user) %>">
					<%= user.name %>
				</a>
			</td>
			<td><%= user.email.nil? ? "YES" : "NO" %></td>
		</tr>
	<%end%>
	</table>	
</div><!-- .people-results -->



<%end%>