<div class="name">
	<b><%= review.reviewer.name %> wrote: <%= review.title %></b>
	<p>
		Stars: <%= review.stars %><br>
		Body: <%= review.body %>
	</p>
	<p>
		<a href="<%= review_path(review) %>">Comment</a>
	</p>	
</div>
