<div class="media">
	<div class="media-body">
		<h4 class='media-heading'>
			<%= review.reviewer.name %> gave the book <a href='/books/<%= review.book.id %>'><%= review.book.title %></a> <%= review.stars %> stars and said about it: 
		</h4>
		<p><i>
			<a href="reviews/<%= review.id %>"><%= review.body %></a>
		</i></p>
		<p>
			<% if user == review.reviewer %>
			<a href="<%= edit_review_path(review) %>" id="editReview">Edit</a>
			<%end%>
		</p>
	</div><!-- .media-body -->
</div><!-- .media -->	
