<form id="review" action="<%= path %>" method="POST", data-remote="true">
	<input type="hidden" 
		name="authenticity_token" 
		value="<%= form_authenticity_token %>" 
		id="authenticity_token">
		
	<input type="hidden" 
		name="_method" value="<%= method %>" id="_method">
	
	<label for="Title">Title</label>
	<input type="text" name="review[title]" value="<%= review.title%>" id="Title">
	<label for="body">Body</label>
	<textarea name="review[body]" rows="2" cols="20" id='body'><%= review.body%></textarea>
	
	<label for='review[stars]'>Stars</label>
	<select name="review[stars]" id="review[stars]">
		<% 5.times do |x| %>
			<option value="<%= x+1 %>" <%= x+1 == review.stars ? 'selected' : "" %>><%= x+1 %></option>
		<%end%>
	</select>
	<br>
	<input type="submit" name="some_name" value="submit review" id="some_name" class='btn btn-small btn-primary'>	
	
</form>

