<div class="media">
	<a href="#" class='pull-left'>
		<img src='<%= @review.book.cover_image %>' class='media-object' style='height:256px'>
	</a>
	<div class="media-body">
		<h3 class='media-heading'>
			<a href="<%= book_path(@review.book)%>">
				<%= @review.book.title %>
			</a>: Review
		</h3>
		<p>
			<%= @review.book.synopsis[0..500] + "..."%>
		</p>
	</div><!-- .media-body -->
</div><!-- .media -->
<hr />
<div class="review">
	<h4>Your Review</h4>
	<p>
		<b>Stars: <%= @review.stars %></b><br>
		<b>Body:<br></b>
		<p>
			<%= @review.body %>
		</p>
	</p>
</div><!-- .review -->


<hr />
<h4>Comments</h4>
<div class="form_comments">
</div><!-- .form_comments -->
<hr />
<div class="comments">
	
</div><!-- .comments -->


<script type="text/javascript" charset="utf-8">
	$(function () {
		Readingapp.initialize();
		new Readingapp.Routers.Comments({
			rootelement: $("div.comments"), 
			formelement: $('div.form_comments')
		}); 
		Readingapp.Store.comments = 
			new Readingapp.Collections.Comments(<%= @review.id %>); 
			// This is because I need to pass the review's identifier to backbone to get comments
		Readingapp.Store.comments.fetch({
			success: function () {
				Backbone.history.start(); 
			}
		}); 
		
	}); 
</script>

<script type="text/data" id='authenticity_token'>
	<%= form_authenticity_token %>
</script>