<div class="navbar navbar-static-top">
	<div class="navbar-inner">
		<a href="<%= root_path %>" class='brand'>PerfectPerusals</a>
		<ul class='nav'>
			<li class=><a href="<%= root_path %>">Home</a></li>
			<li><a href="#">My Books</a></li>
			<li><a href="#">Recommendations</a></li>
			<li><a href="<%= books_path %>">Explore</a></li>
			<li class='divider-vertical'></li>
			<form class='navbar-search'>
				<input class='search-query' placeholder='Find Books' type='text'>
			</form>
		</ul>
		
		<ul class='nav pull-right'>
			<% if user.nil? %>
				<a href="<%= login_path %>">Log In</a>					
			<%else%>
				<li><a href="<%= users_path(user) %>"><%= user.name.capitalize %>'s Account</a></li>
				<li><%= link_to "Log Out", session_path, method: :delete %></li>
			<%end%>
			
		</ul>		
	</div><!-- .navbar-inner -->
</div>