<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<a href="<%= root_path %>" class='brand' id='pperusals'>PerfectPerusals</a>
		<ul class='nav'>
			<li><a href="/mybooks">My Books</a></li>
			<li><a href="<%= reviews_path %>">My Reviews</a></li>
			<li><a href="<%= recommendations_path %>">Recommendations</a></li>
			<li class='divider-vertical'></li>
			<form class='navbar-search' action="<%= search_path %>">
				<input class='search-query' placeholder='Find Books or People' type='text' name='title'>
			</form>
		</ul>
		
		<ul class='nav pull-right'>
			<% if user.nil? %>
				<li>
					<a href="<%= login_path %>">Log In</a>
				</li>
			<%else%>
				<li><a href="<%= edit_user_path(user) %>"><%= user.name.capitalize %>'s Account</a></li>
				<li><%= link_to "Log Out", sessions_path, method: :delete %></li>
			<%end%>
			
		</ul>		
	</div><!-- .navbar-inner -->
</div>